
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Outfit:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');



@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Outfit:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&family=Signika+Negative:wght@300..700&display=swap');
/* root variable strt  */
:root{
    --green:green;
    --black:#231e56;
    --light-color: #666;
    --box-shadow: 0 0rem 1rem rgb(166, 161, 161);
    --border:2rem solid rgba(0,0,0.1);
    --outline: .1rem solid rgb(169, 166, 166);
}

/* root variable end  */

body{
    font-family: "Signika Negative", sans-serif;
}
html{
    transition: all .2s linear;
}
        * {
            margin: 0;
            padding: 0;
            text-transform: capitalize;
            list-style: none;
            text-decoration: none;
            transition: all .2s linear;
        }

        /* marque srt  */
        .marque-menu {
            background-color: #FD346E;
            padding: 10px 0;
            height: 20px;

        }

        .marque-menu p {
            font-size: 18px;
            color: white;
        }
        /* marque  end */
        /* top head strt  */
        .top-head-main{

display: flex;
align-items: center;
justify-content: space-between;
margin: 12px 300px;
        }
        .top-head-main h4{
            color: rgb(54, 51, 51);
            font-size: 24px;
    font-family: "Dancing Script", cursive;
    line-height: 29px;

        }
  .top-head-main .logo img{
width: 140px;
}
.top-head-main .timming-sec{
   display: flex;
   justify-content: center;
   text-align: center;
align-items: center;
}
.top-head-main .timming-sec .hours{
    line-height: 19px;

}
.top-head-main .timming-sec .hours li{
    color: #60656d;
    font-size: 15px;  
}
.top-head-main .timming-sec .clock i{
    font-weight: 400;
    color: #71767d;
    font-size: 43px;
    margin-right: 10px;
    margin-top: 42px;


}
.top-head-main .location{
    line-height: 19px;

}
.top-head-main .location li{
    color: #60656d;
    font-size: 14px; 
}
.top-head-main .logo{
   
}
.top-head-main .contact .number li{
    color: #60656d;
    font-size: 15px;

}
.top-head-main .contact .number{
    line-height: 19px;

}
.top-head-main .contact{
 display: flex;
 justify-content: center;
 align-items: center;
 margin-right: 70px;
   text-align: center;
}  
.top-head-main .contact .phone i{
    font-weight: 600;
    color: #71767d;
margin-right: 10px;
    font-size: 42px;
    margin-top: 35px;
}
       /* top head end */
       /* hero section strt  */
.hero-section{
    width: 100%;
    height:90vh;
    background-color: #F3F4F6;  
    border-bottom-left-radius: 40% 20%;
    border-bottom-right-radius: 40% 20%;
}
.hero-section .main{
display: flex;
justify-content: space-around;
align-items: center;
margin: 0px 100px;
}
.hero-section .main .content-sec{
/* background-color: #FD346E; */
width: 40%;
display: flex;
flex-direction: column;
text-align: start;
/* height: 500px; */
padding: 30px 10px;
margin-bottom: 70px;
}
.hero-section .main .image-sec{
    background-image: url("female\ l.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 34%;
    height:500px ;
  
}
.hero-section .main .image-sec .container-for-cards{
    /* background-color: #231e56; */
    width:500px ;
    margin-right: 170px;
}
.hero-section .main .image-sec .container-for-cards .card-1 img{
width: 150px;
height: 130px;
border-radius: 10px;
}
.hero-section .main .image-sec .container-for-cards .card-2 img{
width: 150px;
margin-top: 200px;
border-radius: 10px;

}.hero-section .main .image-sec .container-for-cards .card-3 img{
width: 180px;
margin-left: 230px;
height: 160px;
/* margin-top: 0px; */
}



.hero-section .main .content-sec h2{
font-size: 70px;
text-align: left;
line-height: 62px;
color: rgb(29, 28, 28);
}
.hero-section .main .content-sec p{
    font-size: 18px;
line-height: 30px;
color: #71767d;
font-weight: 400;
line-height: 30px;
margin-top: 10px;
}
.hero-section .main .content-sec li{
        font-size: 22px;
color: #FD346E;
line-height: 40px;
}

.service-btn{
    padding: 24px  50px;
    margin-top: 40px ;
margin-left: 5px;
border-radius: 50px;
border: none;
font-size: 15px;
color: white;
background-color:#FD356D;
cursor: pointer;
box-shadow:1px 2px 100px 10px#df9caf ;
font-weight: 500;
} 
.service-btn:hover{
    background-color:#fb1a5a;
} 
.product-btn{
    padding: 24px  50px;
    margin-top: 40px;
margin-left: 25px;
border-radius: 10px;
border-radius: 50px;
border: none;
font-size: 15px;
font-weight: 500;
color: black;
background-color:#FCDC00 ;
cursor: pointer;
box-shadow:1px 2px 100px 10px#f5eba9 ;
} 
.product-btn:hover{
    background-color:#dac222 ;
} 
       /* hero section end  */
        /* text after hero strt */
 .text-after-hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
   
    margin: 67px 270px ;
 }
 .text-after-hero .line{
    width: 2px;
    height: 90px;
    background-color: rgb(214, 211, 211);
    margin-top: 80px;
 }

 .text-after-hero  h4{
            color: rgb(32, 26, 26);
            font-size: 22px;
font-family: Poppins;
line-height: 65px;
font-weight: 550;

   }
    .text-after-hero li{

            color: rgb(103, 97, 97);
            font-size: 15px;
    line-height: 17px;
        }

.brand-heading  h4{
text-align: center;
color: #fb1a5a;
font-size: 30px;
line-height: 40px;
font-weight: 500;
margin-top: 49px;
}
h2{
    text-align: center;
color:black;
font-size: 47px;
line-height: 70px;
font-weight: 600;
}
 /* text after hero end*/
/* product sec strt  */
.products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18.2rem ,1fr) );
    gap: 1.2rem;
}
.products .box-container .box{
background-color: white;
padding: 1.5rem 19px;
text-align: center;
box-shadow: var(--box-shadow);
outline-offset: -.5rem;
} 
.products .box img{
    width: 17rem;
    height: 14rem;
    cursor: pointer;
}
/* .products .box img:hover{
padding-top: 2rem;
} */
.products{
    padding: 57px 9rem ;
}
.products .box-container .box h4{
    font-size: 1.5rem;
    color: black;
    line-height: 40px;
    margin-top: 2px;
}
.products .box-container .box h3{
    font-size: 1.6rem;
    color: rgb(40, 39, 39);
    line-height: 40px;
    margin-top: 47px;
    font-weight: 500;
}
 .product-btn-text  .all-product-btn{
    padding: 24px  50px;
text-align: center;
margin-top: 22px ;
display: block;
margin: auto;
border-radius: 50px;
border: none;
font-size: 15px;
color: white;
background-color:#FD356D;
cursor: pointer;
box-shadow:1px 2px 100px 10px#df9caf ;
font-weight: 500;
}
.product-btn-text .all-product-btn:hover{
    background-color:#fb1a5a ;
}
/* product sec end */


/* other product  sec strt  */
.other-products .other-products-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem ,1fr) );
    gap: 1.2rem;
}
.other-products .other-products-container .box{
background-color: white;
padding: 1.5rem 19px;
text-align: center;
/* box-shadow: var(--box-shadow); */
/* outline-offset: -.5rem; */
} 
.other-products .box img{
    width: 13rem;
    height: 9rem;
    cursor: pointer;
}
.other-products{
    padding: 57px 9rem ;
}
.other-products .box .price{
    color: #666;
    text-decoration: line-through;
}
.other-products .box .price-heading{
color: #fb1a5a;
font-size: 24px;
}
.other-products .box h4{
    line-height: 23px;
    color: #40454c;
}
.other-products .box li{
    line-height: 23px;
    color: #1b1f25;
}
.other-products .box button {
    border: 2px solid  #dedbdb;
    color: #a19c9c;
font-size: 14px;
padding: 12px 15px;
border-radius: 9px;
background-color: white;
}
.other-products .box .fa-shopping-cart{
    color: #bdb9b9;
  margin-right: 5px;
    font-size: 15px;
}
.view-all-btn{
    text-align: center;
}

.view-all-btn button{
    padding: 22px  57px;
border-radius: 50px;
border: none;
font-size: 15px;
color: white;
text-align: center;
background-color:#FD356D;
cursor: pointer;
box-shadow:1px 2px 100px 10px#df9caf ;
font-weight: 500;
} 
.view-all-btn button:hover{
    background-color:#c21647;
    color: black;
} 
.view-all-btn h2{
    margin: 39px 0;
}
/* other-products sec end */
       @media (min-width:370px) and (max-width:380px){

        .top-head-main{
            display: none;
        }
        .marque-menu {
            background-color: #FD346E;
            padding: 12px 0;
            height: 20px;
        }
        .marque-menu p {
            font-size: 17px;
            color: white;
        }


    /* hero section strt  */
    .hero-section{
    width: 100%;
    height:1050px;
    background-color: #F3F4F6;  
    border-bottom-left-radius: 45% 10%;
    border-bottom-right-radius: 45% 10%;
}
.hero-section .main{
display: flex;
justify-content: space-around;
align-items: center;
flex-direction: column;
margin: 0px 0px;

}
.hero-section .main .content-sec{
/* background-color: #FD346E; */
width: 80%;
display: flex;
flex-direction: column;
text-align: start;
padding: 40px 30px;
margin-bottom: 10px;

}
.hero-section .main .image-sec{
    /* background-image: url("female\ l.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
background-color: #df9caf;
    height:400px ;
    background-color: #71767d;
}
.hero-section .main .content-sec h2{
font-size: 47px;
line-height: 45px;
text-align: center;
font-weight: 650;
}

.hero-section .main .content-sec li{
        font-size: 22px;
color: #FD346E;
line-height: 0px;
margin-bottom: 20px;
text-align: center;
}
.hero-section .main .content-sec p{
    font-size: 18px;
line-height: 30px;
color: #71767d;
font-weight: 400;
text-align: center;
}
.service-btn{
    padding: 17px  30px;
    margin-top: 20px ;
    margin-left: 75px;
border-radius: 50px;
border: none;
font-size: 15px;
color: white;
text-align: center;
background-color:#FD356D;
cursor: pointer;
box-shadow:1px 2px 100px 10px#df9caf ;
font-weight: 500;
} 
.service-btn:hover{
    background-color:#fb1a5a;
} 
.product-btn{
    padding: 17px  30px;

    margin-top: 20px;
margin-left: 75px;
border-radius: 10px;
border-radius: 50px;
border: none;
font-size: 15px;
font-weight: 500;
color: black;
background-color:#FCDC00 ;
cursor: pointer;
box-shadow:1px 2px 100px 10px#f5eba9 ;
} 
.product-btn:hover{
    background-color:#dac222 ;
} 
.hero-section .main .image-sec .container-for-cards{
    /* background-color: #231e56; */
    width:500px ;
    margin-right: 170px;
}
.hero-section .main .image-sec .container-for-cards .card-1 img{
width: 110px;
height: 100px;
}
.hero-section .main .image-sec .container-for-cards .card-2 img{
width: 150px;
margin-top: 150px;

}.hero-section .main .image-sec .container-for-cards .card-3 img{
width: 120px;
margin-left: 240px;
height: 100px;

}
       /* hero section end  */
 /* text after hero strt */
 .text-after-hero {
    display: flex;
    align-items: center;
    justify-content: center;
   
    margin: 0px ;
 }
 .text-after-hero .gift{
    display: none;
 }
 .hide-line{
    display: none;

 }
 .text-after-hero .quality{
margin-left: 20px;
 }
 .text-after-hero .shipping
{
    margin-right: 20px;

}
 .text-after-hero .line{
    width: 2px;
    height: 90px;
    background-color: rgb(214, 211, 211);
 }

 .text-after-hero  h4{
            color: rgb(21, 18, 18);
            font-size: 19px;
font-family: Poppins;
line-height: 55px;
font-weight: 550;
   }
    .text-after-hero li{

            color: rgb(103, 97, 97);
            font-size: 15px;
    line-height: 15px;
    text-align: center;
        }

h4{
text-align: center;
color: #fb1a5a;
font-size: 23px;
line-height: 40px;
font-weight: 500;
margin-top: 49px;
}
h2{
    text-align: center;
color:black;
font-size: 37px;
line-height: 70px;
font-weight: 600;
}
 /* text after hero end*/
/* product sec strt  */
.products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(9.2rem ,1fr) );
    gap: 1rem;
}
.products .box-container .box{
background-color: white;
/* padding: 1rem 19px; */
padding: 7px;
text-align: center;
box-shadow: var(--box-shadow);
outline-offset: -.5rem;
} 
.products .box img{
    width: 8rem;
    height: 7rem;
    cursor: pointer;
}
/* .products .box img:hover{
padding-top: 2rem;
} */
.products{
    padding: 57px .4rem ;
}
.products .box-container .box h4{
    font-size: 1rem;
    color: black;
    line-height: 30px;
    margin-top: 2px;
    text-align: center;
}
.products .box-container .box h3{
    font-size: 1.2rem;
    color: rgb(109, 106, 106);
    line-height: 40px;
    margin-top: 47px;
    font-weight: 400;
}
 .product-btn-text  .all-product-btn{
    padding: 17px  22px;
text-align: center;
margin-top: 22px ;
display: block;
margin: auto;
border-radius: 50px;
border: none;
font-size: 15px;
color: white;
background-color:#FD356D;
cursor: pointer;
box-shadow:1px 2px 100px 10px#df9caf ;
font-weight: 500;
}
.product-btn-text .all-product-btn:hover{
    background-color:#fb1a5a ;
}
/* product sec end */
/* other product  sec strt  */
.other-products .other-products-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(9.2rem ,1fr) );
    gap: 1rem;
}
.other-products .other-products-container .box{
background-color: white;
padding: .7rem 10px;
text-align: center;

} 
.other-products .box img{
    width: 9rem;
    height: 8rem;
    cursor: pointer;
    overflow: hidden;
}
.other-products{
    padding: 0 ;
}
.other-products .box .price{
    color: #666;
    text-decoration: line-through;
}
.other-products .box .price-heading{
color: #fb1a5a;
font-size: 24px;
}
.other-products .box h4{
    line-height: 17px;
    color: #25282c;
    font-size: 14px;
}
.other-products .box li{
    line-height: 23px;
    color: #1b1f25;
    font-size: 14px;
}
.other-products .box button {
font-size: 14px;
padding: 12px 15px;
border: 2px solid  #dedbdb;
color: #a19c9c;
border-radius: 9px;
background-color: white;
}


.view-all-btn button{
    padding: 17px  32px;
border-radius: 50px;
border: none;
font-size: 15px;
margin-top: 17px;
color: white;
text-align: center;
background-color:#FD356D;
cursor: pointer;
box-shadow:1px 2px 100px 10px#df9caf ;
font-weight: 500;
} 
.view-all-btn button:hover{
    background-color:#c21647;
    color: black;
} 
.view-all-btn h2{
    margin: 19px 0;
}
/* other-products sec end */












       }
